.main-image {
  width: 100%;
  height: 760px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 480px;
  color: white;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  height: 200px;
}

.happytime {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
  height: 100px;
}

.happytime p {
  padding-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

.partytime p {
  padding-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

.partytime {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100px;
}

.breakfast {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.breakfast p {
  padding-top: 100px;
  color: white;
  font-style: italic;
  font-size: 22px;
}

.lunch p {
  padding-top: 100px;
  color: white;
  font-style: italic;
  font-size: 22px;
}

.dinner p {
  padding-top: 100px;
  color: white;
  font-style: italic;
  font-size: 22px;
}

.lunch {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.dinner {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.breakfast:hover {
  bottom: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.lunch:hover {
  bottom: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.dinner:hover {
  bottom: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

#fastfood {
  padding-top: 20px;
  padding-bottom: 20px;
}

#drinks {
  padding-top: 20px;
  padding-bottom: 20px;
}

.images {
  border-style: solid;
  border-width: 20px;
  border-color: #FFFFFF;
  box-shadow: 0 0 6px 6px #F2F2F2;
}

.linkbox {
  border-style: solid;
  border-color: #F3855E;
  padding: 12px;
}

.stomach {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 190px;
  padding-right: 190px;
}

.words {
  text-align: justify;
  width: 100%;
}

.slideshow {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.carousel {
  padding-top: 20px;
}

#review {
  border-style: solid;
  border-width: 50px;
  border-color: #FFFFFF;
  box-shadow: 0 0 6px 6px #F2F2F2;
  padding-top: 20px;
  padding-left: 190px;
  padding-right: 190px;
}

.review h3 {
  color: #F05A28;
  text-align: center;
}

.email {
  text-align: center;
  font-size: 25px;
  background-image: url(assets/backgrounds/subscribe.jpg);
  color: white;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.mail {
  text-align: center;
}

.formStyle {
  margin: 20px;
  background: rgba(250, 250, 250, 0.5);
  width: 40%;
  border-bottom-width: 1px;
  border-bottom-color: #ecf0f1;
  font-size: 28px;
  font-weight: 100;
  color: #ffffff;
  border-radius: 5px;
}

.formButton {
  margin: 20px;
  background-color: #F15A29;
  display: inline-block;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  padding: 6px 50px;
  text-decoration: none;
  border-radius: 5px;
}

.formButton:hover {
  background-color: #27ae60;
  color: #ffffff;
}

.formButton:active {
  position: relative;
  top: 3px;
}

.footer {
  padding-top: 10px;
  background-color: red;
  text-align: center;
  background-color: #F15B29;
  color: white;
  height: 200px;
}
#end{
  background-image: url("../assets/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
